sudo: required
services:
  - docker
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
before_install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in docker-kubernetes-237606-66548918b455.json.enc -out docker-kubernetes-237606-66548918b455.json -d
  - gcloud version || true
  - if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi
  # Add gcloud to $PATH
  - source /home/travis/google-cloud-sdk/path.bash.inc
  - gcloud version
  - yes | gcloud components update kubectl
  - gcloud auth activate-service-account --key-file docker-kubernetes-237606-66548918b455.json
  - gcloud config set project docker-kubernetes-237606
  - gcloud config set compute/zone europe-north1-a
  - gcloud container clusters get-credentials docker-kubernetes
